.subject-subtext {
    font-size: 14px;
    color: #505050;
    line-height: 2;
}


.subject-subtext-icon {
    height: 1rem;
    vertical-align: text-bottom;
}

.notice-tag {
    background-color: #F45E43;
    color: white;
    border-radius: 25px;
    padding: 2px 15px;
    white-space: nowrap;
}
