{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notice Master - {{ school_name }}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>
<body>
    <div class="d-flex flex-row justify-content-center">
        <div class="d-flex flex-column justify-content-between vh-100 mx-5" style="max-width: 800px;">
            <header></header>
            <main>
                {% block body %}

                {% endblock %}
            </main>

            <footer>
                <p class="text-muted">
                    Developed by Thomas Hobson <br/>
                    This product is not officially endorsed by {{ school_name }} <br/>
                    To get this working for your school, send me an <a href="mailto:thomas@hexf.me">email</a>
                </p>


            </footer>
        </div>
    </div>

</body>
</html>